@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    color: #161633;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
}

h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    margin: 0px;
}

h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 52px;
    margin: 0px;
}

p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
}

a{
    color: #0062A1;
    text-decoration: none;
}

ul{
    list-style: none;
}

.link-solid-arrow{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

/** Section-header **/


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1432px;
    align-items: center;
    margin: 24px auto 24px auto;
}

.navigation-nav > ul{
    display: flex;
    list-style: none;
}

.link-navigation{
    padding: 12px 20px;
    color: #161633;
}

.button-solid-navigation{
    padding: 12px 20px;
    color: white;
    background-color: #0062A1;
    border-radius: 999px;
    margin-left: 20px;
}

/** section-hero **/


.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    max-width: 1188px;
    padding: 120px 0px;
    gap: 99px;
}

.hero-video{
    border-radius: 32px;
}

.hero-content{
    display: flex;
    gap: 24px;
    max-width: 578px;
    flex-direction: column;
}

/** Section-services **/

.section-services-background{
    background-color: rgba(0, 98, 161, 0.04);
    margin: auto;
    padding: 120px 0px;
    justify-content: center;
}

.section-services{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    max-width: 1188px;
    margin: auto;
    align-content: center;
    flex-wrap: wrap;
}

.section-services-copy{
    max-width: 578px;
    gap: 24px;
    flex-direction: column;
    display: flex;
}

.subtitle-sections{
    color: #0062A1;
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    border: 1px solid rgba(0, 98, 161, 0.4);
    border-radius: 999px;

    /**Font**/

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
}

.section-services-tags{
    align-items: center;
    display: flex;
}

.list-tags-services{
    display: flex;
    flex-wrap: wrap;
    max-width: 456px;
    gap: 10px;
    margin: 0px;
}

.tag-services{
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
   
    /* light/subtle */

    border: 1px solid rgba(20, 20, 31, 0.08);
    border-radius: 20px;
}

.section-about{
    margin: auto;
    padding: 120px 0px;
    display: grid;
    flex-direction: column;
    gap: 120px;
}

.section-about-copy{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: auto;
    gap: 24px;
    max-width: 700px;
}

.section-about-images{
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.section-about-images > div{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/** Footer **/

footer{
    background-color: #001929;
}

.footer-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 0px;
    justify-content: space-between;
    margin: auto;
    max-width: 1433px;
}

.footer-navigation > ul{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.footer-navigation > ul > li > a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 510;
    font-size: 16px;
    line-height: 16px;
    color: white;
}

.footer-icons-social-media > ul{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.bottom-footer{
    background-color: #001929;
}

.bottom-footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 10px 0px;
    max-width: 1433px;
}

.line-footer-bottom-footer{
    background-color: #001929;
    width: 100%;
    height: 1px;
}

.line-footer-bottom-footer-2{
    background: rgba(0, 25, 41, 0.9);
    width: 100%;
    height: 1px;
}


.bottom-footer-content > p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 510;
    font-size: 14px;
    line-height: 20px;
    color: hwb(0 100% 0% / 0.506);
}

.bottom-footer-content > p > a{
    text-decoration: underline;
    color: hwb(0 100% 0% / 0.506);
}